/*General*/
body{
padding:0;
margin:0;
}

/*Navigation Bar*/
.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    background: linear-gradient(90deg, rgb(19, 76, 141),rgb(219, 223, 227));
    margin: 0;
    padding: 0;
}

a:hover{
    color:rgb(2, 108, 200);
}

.menu-url{
    color:rgb(19, 76, 141);
    text-decoration: none;
    font-size:18px;
    padding: 0px 20px;
}

.es-color{
    color:rgb(47, 164, 131);
}

/*About-Section*/
.about-section-container {
    background: linear-gradient(90deg, rgb(19, 76, 141),rgb(95, 148, 188),rgb(148, 181, 208),rgb(204, 225, 239),rgb(255, 255, 255));
    height:auto;
    width:100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex-direction:row;
    align-items: stretch;
    justify-content: space-between;
    margin:0;
    border:0;
}


.box{
    height:auto;
    width:auto;
    padding: 12px;
    width: 5rem;
    height: 5rem;   
}

.logo{
    margin-bottom: 0;
    width: 147px;
    height: 109px;
    align-self: flex-start;
    padding-top:.3em;
    margin-right: auto;
    background-color: none;
}



.headline-text{
    color:rgb(42, 108, 155);
    font-family: 'Abril Fatface', cursive;
    font-size: 6em;
    text-align: center;
    width:100%;
    height:auto;
    grid-column: 2;
    grid-row: 1;
}

.image{
    height:100%;
    width:20%;
    align-self: center;
}

.headline{
    background-color: rgb(0, 61, 114);
    color:rgb(152, 196, 223);
    height: auto;
    padding: 12px;
    width: 35vw;
    height: 5rem;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.85em;
    text-align: start;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: .1em;
    border-left: 0;

}


.headline img{
    object-fit: contain;
}


.text{
    background-color: rgb(22, 71, 113);
    color:rgb(209, 219, 229);
    height: auto;
    padding: .7em;
    width: 60vw;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.3em;
    text-align: center;
}

.wiar-headline{
    grid-column: 2;
    grid-row: 4;
    padding-bottom: .2em;
}

.wiar-text{
    grid-column: 2;
    grid-row: 7;
    margin-bottom:2em;
}


.footer-container{
    background: rgb(19, 76, 141);
    height:auto;
    width:100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex-direction:row;
    align-items: stretch;
    justify-content: space-between;
    margin:0;
    border:0;
}

.footer-box-1{
    width: 5rem;
    height: 5rem;
    color:white;
    text-align: center;
    font-size:25px;
    padding-left: 2em;
}

.footer-box-2{
    width: 5rem;
    height: 5rem;  
}

.footer-box-3{
    width: 5rem;
    height: 5rem;  
}

.footer-list{
    justify-content: start;
    flex-direction: column;   
    list-style-type: none;
    font-size: 18px;
    text-decoration: none;

}

.footer-list p{
    color:white;
}

.footer-list a:hover p{
    color:rgb(121, 167, 188);
}

.footer-list a:visited p{
    color:rgb(121, 167, 188);
}
