/*General*/  
h1{
    font-family: 'Libre Baskerville', serif;
}

/*Mailing Section*/

.mailing_section{
    background: rgb(135, 158, 97);
    width: 600px;
    box-sizing: border-box;
    border: 3px;
}

.mailing_image{
    width: 300px;
    box-sizing: border-box;
}

.mailing_text{
    color: green;
}

/*Quote Section*/
.quote-section{
    background: linear-gradient(90deg, rgb(36, 36, 98), rgb(177, 178, 188));
}

.quote-h1{
    color:rgb(199, 199, 215);
    font-size: 50px;
    margin:auto;
}

.quote-h2{
    color:rgb(199, 199, 215);
    font-size: 26px;
    text-indent: 140px;
    margin:auto;
}

.quote-quote{
    width:520px;
    background: #38387a;
    border-radius: 8px;
    font-family: 'Josefin Slab', serif;
    font-size: 32px;
    color: rgb(222, 215, 236);
    position: absolute;
}

.img-size{
    width:561px;
    height:551px;
}

.quote-image{
    max-width: 100%;
    right: -10px;
    position: absolute;
    object-fit: cover;
}

body{
    margin:0;
    padding:0;
}

@media all and (max-width: 1080px) {
    .quote-image{
        max-width: 50%;
    }

    .quote-quote{
        width:364px;
        background: #38387a;
        border-radius: 8px;
        font-family: 'Josefin Slab', serif;
        font-size: 23px;
        color: rgb(222, 215, 236);
        position: absolute;
    }
}


@media all and (max-width: 695px) {
    .quote-image{
        max-width: 45%;
        position: static;
    }
}

    .quote-quote{
        width:450px;
        background: #38387a;
        border-radius: 8px;
        font-family: 'Josefin Slab', serif;
        font-size: 20px;
        color: rgb(222, 215, 236);
        position: fixed;
        top: 340px;
    }