<!doctype html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Chris 4 Cornelius About</title>
        <link rel="stylesheet" href="static/css/about-styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Prata&display=swap" rel="stylesheet">
      </head>
    <body>
        <header>
            <nav aria-label="main menu">
              <ul class="navbar">
                <li><a class="menu-url" href="/issues">Issues</a></li>
                <li><a class="menu-url" href="https://secure.sos.state.or.us/orestar/vr/showVoterSearch.do?lang=eng&source=SOS" target="_blank">Where to Vote</a></li>
              </ul>
            </nav>
          </header>
          <section class="about-section-container">
            <div class="box logo"><a href="/"><img src="static/images/logo-blank.png" alt="campaign logo" width="147" height="109"></a>
            </div>
            <div class="box headline-text">About Chris</div>
            <div class="headline headline-box-color wiar-headline"><img class = "image" src="static/images/podium-icon.png" alt="podium image" width="980" height="866">&nbsp; Why I Am Running</div>
            <div class="text wiar-text"><p>I've decided to run for Mayor because Cornelius can’t wait for change! I can no longer sit on the sidelines of a community that is not reaching its full potential. Cornelius is growing at a rapid rate, and we are falling behind with our schools, small businesses and infrastructure. I want to cultivate fresh and equitable ideas that could help both our citizens and stakeholders thrive.</p>
              <p>I was drawn to a more publicized role because I feel the need to make a positive impact in our community. Being Bilingual and Bicultural allows me to bring my lived and shared experiences in our local government. Additionally, my experiences of working with in school districts, Local and State governments can be a great asset to our community.</p></div>
          </section>
          <footer>
            <div class="footer-container">
              <div class="footer-box-1">Contact<p class="footer-list">christ4cornelius@gmail.com</p></div>
              <div class="footer-box-1">Social
                <a class="footer-list" href="https://www.instagram.com/chris4cornelius/" target="_blank"><p>IG:chris4cornelius</p></a></div>
            </div>
          </footer>
    </body>
</html>