<!doctype html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Chris 4 Cornelius</title>
        <link rel="stylesheet" href="static/css/index-styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Prata&display=swap" rel="stylesheet">
        <meta http-equiv='refresh' content='5; /'>
    </head>
    <body>
Thank you for submitting your information. You will automatically be redirected to the homepage.
    </body>
</html>
