<!doctype html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Chris 4 Cornelius</title>
        <link rel="stylesheet" href="static/css/index-styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Prata&display=swap" rel="stylesheet"></head>
    <body>
        <header>
          <nav aria-label="main menu">
            <ul class="navbar">
              <li><a class="menu-url" href="/issues">Issues</a></li>
              <li><a class="menu-url" href="/about">About Chris</a></li>
              <li><a class="menu-url" href="https://secure.sos.state.or.us/orestar/vr/showVoterSearch.do?lang=eng&source=SOS" target="_blank">Where to Vote</a></li>
            </ul>
          </nav>
        </header>
        
        <section class="home-section-container">
          <div class="box logo"><a href="/"><img src="static/images/logo-blank.png" alt="campaign logo" width="147" height="109"></a></div>
          <div class="top-text">
            <h1 class ="fit-h1">Ready to Lead!</h1>
            <p class="p-email">Chris Barriere is running for office.</p>
            <p class="p-email">Please add your name to get involved!</p>
            <div class="row">
              <form  class "form" action ="{{ url_for("forward")}}" method = "POST">
                <input class ="mail-box name-box" type="text" size="20" name="fname" placeholder="  Name" required>
                
                <input class ="mail-box" type="text" size="10" name="zip" placeholder="  Zipcode" required>
                <br><br>
                <input class ="mail-box" type="email" name="email" placeholder="  Email" required>
              
                <button class="mail-button" type="submit" value="Submit">Get Involved</button>
              </form>
            </div>
          </div>
          <div class="portrait"><img class="portrait-image" src="static/images/chris-sit-log.png" alt="chris-barriere-portrait" width="580" height="746"></div>
        </section>
        <section class="instagram-section-container">
          <div class="taggbox-container">
            <div class= "taggbox" style= "height:100%;" data-widget-id="107890" data-tags="false"></div><script src="https://widget.taggbox.com/embed-lite.min.js" type="text/javascript"></script>
          </div>
            <div class="insta-logo">
              <img src="static/images/instagram-logo-0.png" alt="Card Back" width="427" height="318">
              <a href="https://www.instagram.com/chris4cornelius/" target="_blank"><img src="static/images/instagram-logo-1.png" class="img-top" alt="Card Front" width="427" height="318"></a>
            </div>
        </section>
        <section class="issues-section-container">
          <div class="issues-headline-text"><a href="/issues">Issues</a></div>
          <div class="issues-text-box">
            <a class="color-fix" href="/issues#education"><p class="issues-text">Education</p></a>
            <a class="color-fix" href="/issues#housing"><p class="issues-text">Housing</p></a>
            <a class="color-fix" href="/issues#public-trust"><p class="issues-text public-trust-text">Public Trust</p></a>
          </div>
        </section>
        <footer>
          <div class="footer-container">
            <div class="footer-box-1">Contact<p class="footer-list">chris4cornelius@gmail.com</p></div>
            <div class="footer-box-1">Social
              <a class="footer-list" href="https://www.instagram.com/chris4cornelius/" target="_blank"><p>IG:chris4cornelius</p></a></div>
          </div>
        </footer>
    </body>
</html>
