<!doctype html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Chris 4 Cornelius Issues</title>
        <link rel="stylesheet" href="static/css/issues-styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Prata&display=swap" rel="stylesheet">
      </head>
    <body>
        <header>
            <nav aria-label="main menu">
              <ul class="navbar">
                <li><a class="menu-url" href="/about">About Chris</a></li>
                <li><a class="menu-url" href="https://secure.sos.state.or.us/orestar/vr/showVoterSearch.do?lang=eng&source=SOS" target="_blank">Where to Vote</a></li>
              </ul>
            </nav>
          </header>
          <section class="issues-section-container">
            <div class="box logo"><a href="/"><img src="static/images/logo-blank.png" alt="campaign logo" width="147" height="109"></a>
            </div>
            <div class="box headline-text">Issues</div>
            <div class="headline headline-box-color education-headline" id="education"><img class = "image" src="static/images/building-image.png" alt="building image" width="980" height="866">&nbsp; &nbsp; Education</div>
            <div class="text education-text"><p>We need new schools, and we need them fast. I talk to parents who feel unheard about wanting school improvements .Cornelius is home to some of the older schools in Washington County. I would start by trying to pass a school bond so we can improve Echo Shaw and Cornelius Elementary. I will talk to the Forest Grove and Hillsboro School Board to see how the city can collaborate in this process.</p></div>
            <div class="headline headline-box-color housing-headline" id="housing"><img class = "image" src="static/images/home-icon.png" alt="home image" width="980" height="866">&nbsp; Housing</div>
            <div class="text housing-text"><p>Homelessness and Housing are a big challenge in every city. We simply do not have the resources or dedicated area to have a “pod village” in Cornelius. Cornelius and the Sheriffs office have done a fantastic job ensuring our city stays free of illegal encampments. Our current city Manager Rob Drake has done a great job at treating our homeless population with respect.</p>
              <p>As a city we need to put more emphasis on collaborating more with our local agencies such as Open Door (who provide meals, clothes, and hygiene options) and Centro Cultural’s Casa Amparo (new hub for transitional housing services and emergency shelter for families in our community).</p>
              <p>Affordable housing is a vital need to our community, and we have been in short supply. We must bring innovative ideas and partners to the table and figure out how we can help meet the needs of our hard-working families.</p></div>
            <div class="headline headline-box-color public-trust-headline" id="public-trust"><img class = "image" src="static/images/trust-icon.png" alt="building image" width="980" height="866">&nbsp; Public Trust</div>
            <div class="text public-trust-text"><p>Cornelius is known as “Oregon’s Family Town”. We are small town people with big hearts. Cornelius is a melting pot of cultures and home to honest, good, hardworking people.</p>
              <p>Most people consider Cornelius as a bedroom community or a city they just pass by. I encourage you to dine in one of our many restaurants/businesses to fell the Cornelius hospitality.</p>
               <p>My hope is that we can continue to develop our downtown area to encourage small businesses to invest in our city.</p></div>
          </section>
          <footer>
            <div class="footer-container">
              <div class="footer-box-1">Contact<p class="footer-list">christ4cornelius@gmail.com</p></div>
              <div class="footer-box-1">Social
                <a class="footer-list" href="https://www.instagram.com/chris4cornelius/" target="_blank"><p>IG:chris4cornelius</p></a></div>
            </div>
          </footer>
    </body>
</html>